
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --color: linear-gradient(-90deg, #f5ce62, #e85a19);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--color);
  position: relative;
}

::selection{
  background: var(--color);
  color: #fff;
}

.container{

  margin-top: 50px;
  max-width: 950px;
  width: 100%;
  padding: 80px 0;
}
.container .main-card{
  display: flex;

  width: 100%;
  transition: 1s;
}

.container .main-card .cards{

  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  margin: 20px 0 10px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: var(--color);
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: var(--color);
}

.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: var(--color);
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: var(--color);
  background-color: #fff;
  border-color: var(--color);
}
 .container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}


@media (max-width: 1460px){


  .logo2{

    display: none;
  }

  header.sticky{

  padding: 5px 50px;
  background: #fff;
}

  header.sticky .logo,
  header.sticky ul li a,
  header.sticky .hamburger
  {

    color: #000;
  }
}

@media (max-width: 908px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }

  header .logo{

    margin-left: auto;
    margin-right: auto;
  }


}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}


.logo2{

  width:200px;
  float: right;
  margin-top: 0px;
  position: fixed;
  right: 50px;
  top: 30px;
}

header{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px;
  z-index: 100000;
}

header .logo{

  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
}


.boutton{
  margin-top: 20px;
  text-decoration: none;
  padding: 15px 38px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
}
.boutton:hover{
  background: linear-gradient(-90deg, #0162c8, #55e7fc);
}