
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root{
  --color: linear-gradient(-90deg, #f5ce62, #e85a19);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: var(--color);
}
::selection{
  color: #fff;
  background: #d43f8d;
}
header{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}
header .logo{

  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
}
.container{

  width: 400px;
  background: #fff;
  text-align: center;
  border-radius: 15px;
box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}
.container .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 13px 13px 0 0;
  background: var(--color);
  
}
.text{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;

  
}

.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 400px;
  height: 45px;
  margin: 35px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button{
  width: 80%;
  height: calc(100% + 5px);
  border: none;
  background: var(--color);
  margin-left: 50px;
  margin-right: 50px;
  border: 5px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  
}
form .page .field button:hover{
  background: linear-gradient(-90deg, #55e7fc , #0162c8);
}
form .page .btns button{

}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 30px 0;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  border-color: #111;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: #111;
  background: #e85a19;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  color: #111;
  top: -1.5px;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 10px;
  right: -95px;
  height: 3px;
  width: 80px;
  background: #111;
}
.progress-bar .step .bullet.active:after{
  background: #e85a19;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #111;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 55%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #111;
}


.logo2{

  width:200px;
  float: right;
  margin-top: 0px;
  position: absolute;
  right: 50px;
  top: 30px;

}



@media screen and (max-width: 850px){


  .logo2{

    display: none;
  }

  header .logo{

    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    padding: 0px;
  }

  .container{

      margin-top: 100px;
  }
}