
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://font.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root{
  --color: linear-gradient(-90deg, #f5ce62, #e85a19);
  --color-menu: linear-gradient(-90deg, #e85a19, #f5ce62);
}

*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}

body{
	height: 200vh;
	background: #ebf5fc;
}

header{

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px;
	z-index: 100000;
	
}


header.sticky{

	padding: 5px 50px;
	background: #fff;
}


header .logo{

	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	letter-spacing: 2px;
	transition: 0.6s;

}


header ul{

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}


header ul li{

	position: relative;
	list-style: none;
}


header ul li a{

	text-decoration: none;
	color: white;
	
	font-weight: 700;
	padding: 0;
	margin: 0 15px;
	transition: all 0.3s ease-in-out;
	border-bottom: 2px solid transparent;
	padding-bottom: 3px;
}

header.sticky .logo,
header.sticky ul li a,
header.sticky .hamburger
{

	color: #000;
}



section{

	position: absolute;
	width: 100%;
	height: 500px;
    background: var(--color);
}


.img{

	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	top: 60px;
}




.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  z-index: 1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}





.user-section{
margin-top: 150px;
 background: #ebf5fc;

}

.Profil{
  text-align: center;
  color: #111;
}

.border_user{
  width: 100px;
  height: 10px;
  background: #111;
  margin: 40px auto;
}

.container_user{

	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container_user .card_user{

	position: relative;
	width: 300px;
	height: 400px; 
    background: var(--color);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}



.container_user .card_user .content_user{

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;	
}

.container_user .card_user:hover .content_user{

	opacity: 1;
	transform: translateY(-20px);
}

.container_user .card_user .content_user .imgBx_user{

	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid rgba(0,0,0,0.25);
}

.container_user .card_user .content_user .imgBx_user img{

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;	
}

.container_user .card_user .content_user .contentBx_user h3{

	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container_user .card_user .content_user .contentBx_user h3 span{

	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container_user .card_user .sci{

	position: absolute;
	bottom: 50px;
	display: flex;
}

.container_user .card_user .sci li{

	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
	transition-delay: calc(0.1s * var(--i));
}

.container_user .card_user:hover .sci li{

	transform: translateY(0px);
	opacity: 1;
}

.container_user .card_user .sci li a{

	color: #fff;


}

.bouton{

	position: relative;
	display: inline-block;
	padding: 8px 20px;
	background: linear-gradient(-90deg, #0162c8, #55e7fc);
	margin-top: 15px;
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}








.block1{

	display: flex;

	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #ebf5fc;
}

.container{

		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1200px;
		flex-wrap: wrap;
		padding: 40px 0;
}

.container .card{

	position: relative;
	width: 300px;
	height: 400px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
				inset -5px -5px 5px rgba(255,255,255,0.5),
					  5px 5px 5px rgba(0,0,0,0.05),
					  -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;

	margin: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);

}

.container .card .box{

	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	opacity: 0.7;
}

.container .card:hover .box{

	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: var(--color);
    opacity: 1;
}

.container .card .box .content{

	padding: 20px;
	text-align: center;
}

.container .card .box .content h2{

	position: absolute;
	top: -100px;
	right: 30px;
	font-size: 8em;
	color: rgba(0,0,0,0.02);
	transition: 0.5s;
	pointer-events: none;
}

.container .card:hover .box .content h2{

	color: rgba(0,0,0,0.05);
}

.container .card .box .content h3{

	font-size: 1.8em;
	color: #777;
	z-index: 1;
	transition: 0.5s;
}

.container .card .box .content p{

	font-size: 1em;
	font-weight: 300;
	color: #777;
	z-index: 1;
	transition: 0.5s;
}

.container .card:hover .box .content h3,
.container .card:hover .box .content p{

	color: #fff;
}
.container .card .box .content a{

	position: relative;
	display: inline-block;
	padding: 8px 20px;
    background: var(--color);
	margin-top: 15px;
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.container .card:hover .box .content a{

	 background: linear-gradient(-90deg, #0162c8, #55e7fc);
}





.block2{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #161623;
	min-height: 100vh;
	margin-right: 0px;
}

.A_propos-section{
  background: #161623;
  background-size: cover;
  padding: 40px 0;
}


h1{
  text-align: center;
  color: #ddd;
}

.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.container2{

	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container2 .card{

	position: relative;
	width: 300px;
	height: 400px; 
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;


}

.container2 .card .content2{

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.5;
	transition: 0.5s;	
}

.container2 .card:hover .content2{

	opacity: 1;
	transform: translateY(-20px);
}

.container2 .card .content2 .imgBx{

	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid rgba(0,0,0,0.25);
}

.container2 .card .content2 .imgBx img{

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;	
}

.container2 .card .content2 .contentBx h3{

	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container2 .card .content2 .contentBx h3 span{

	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container2 .card .sci{

	position: absolute;
	bottom: 50px;
	display: flex;
}

.container2 .card .sci li{

	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
	transition-delay: calc(0.1s * var(--i));
}

.container2 .card:hover .sci li{

	transform: translateY(0px);
	opacity: 1;
}

.container2 .card .sci li a{

	color: #fff;
	font-size: 24px;


}



@media screen and (max-width: 940px) {

	.container2 .card2{

		margin: 20px;

	}

	.nav-ul{

		display: none;
		width: 100%;
	}

	.nav-ul.show{

		display: flex;		
	}

	header ul{
		display: none;
	}

	 header .logo{

    margin-left: auto;
    margin-right: auto;
  }
  .img{

	width: 300px;
	top: 130px;
	
}

}

