@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);

}
::selection{
  background: #4158d0;
  color: #fff;
}

header{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header .logo{

  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
}

.wrapper{

  width: 400px;
  background: #fff;
  border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

.wrapper .title{

  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 13px 13px 0 0;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
}

.wrapper form{

  padding: 10px 30px 50px 30px;
}

.wrapper form .field{

  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.wrapper form .field input{

  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus,
form .field input:valid{

  border-color: #C70039;
}

.wrapper form .field label{
  position: absolute;

  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label{

  top: 0%;
  font-size: 16px;
  color: #e85a19;
  background: #fff;
  transform: translateY(-50%);
}

form .content{

  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

form .content .checkbox{

  display: flex;
  align-items: center;
  justify-content: center;
}

form .content input{

  width: 15px;
  height: 15px;
  background: #f5ce62;
}

form .content label{

  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .content .pass-link{

  color: "";
}

form .field input[type="submit"]{

  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: all 0.3s ease;
}

form .field input[type="submit"]:hover{

     background: linear-gradient(-90deg, #0162c8, #55e7fc);
}

form .field input[type="submit"]:active{

  transform: scale(0.95);
}

form .signup-link{

  color: #262626;
  margin-top: 20px;
  text-align: center;
}

form .pass-link a,
form .signup-link a{

  color: #4158d0;
  text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover{
  
  text-decoration: underline;
}


.logo2{

  width:200px;
  float: right;
  margin-top: 0px;
  position: absolute;
  right: 30px;
  top: 30px;

}