@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  margin-left: 45px;
  height: 60px;
  width: 300px;
  background: #fff;
  line-height: 60px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}
.wrapper nav{
  position: relative;
  display: flex;
}
.wrapper nav label{
  flex: 1;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.wrapper nav label a{
  position: relative;
  z-index: -1;
  color: #1d1f20;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.6s ease;
}
.wrapper nav #p1:checked ~ label.p1 a,
.wrapper nav #p2:checked ~ label.p2 a,
.wrapper nav #p3:checked ~ label.p3 a,
.wrapper nav #p4:checked ~ label.p4 a,
.wrapper nav #p5:checked ~ label.p5 a,
{
  color: #fff;
}
.wrapper nav label a i{
  font-size: 25px;
  margin: 0 7px;
}
.wrapper nav .tab1{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1:checked ~ .tab1{
  left: 0%;
}
.wrapper nav #p2:checked ~ .tab1{
  left: 20%;
}
.wrapper nav #p4:checked ~ .tab1{
  left: 60%;
}
.wrapper nav #p5:checked ~ .tab1{
  left: 80%;
}

.wrapper nav input{
  display: none;
}





.wrapper nav .tab2{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_2:checked ~ .tab2{
  left: 0%;
}
.wrapper nav #p2_2:checked ~ .tab2{
  left: 20%;
}
.wrapper nav #p4_2:checked ~ .tab2{
  left: 60%;
}
.wrapper nav #p5_2:checked ~ .tab2{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab3{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_3:checked ~ .tab3{
  left: 0%;
}
.wrapper nav #p2_3:checked ~ .tab3{
  left: 20%;
}
.wrapper nav #p4_3:checked ~ .tab3{
  left: 60%;
}
.wrapper nav #p5_3:checked ~ .tab3{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab4{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_4:checked ~ .tab4{
  left: 0%;
}
.wrapper nav #p2_4:checked ~ .tab4{
  left: 20%;
}
.wrapper nav #p4_4:checked ~ .tab4{
  left: 60%;
}
.wrapper nav #p5_4:checked ~ .tab4{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab5{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_5:checked ~ .tab5{
  left: 0%;
}
.wrapper nav #p2_5:checked ~ .tab5{
  left: 20%;
}
.wrapper nav #p4_5:checked ~ .tab5{
  left: 60%;
}
.wrapper nav #p5_5:checked ~ .tab5{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab6{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_6:checked ~ .tab6{
  left: 0%;
}
.wrapper nav #p2_6:checked ~ .tab6{
  left: 20%;
}
.wrapper nav #p4_6:checked ~ .tab6{
  left: 60%;
}
.wrapper nav #p5_6:checked ~ .tab6{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab7{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_7:checked ~ .tab7{
  left: 0%;
}
.wrapper nav #p2_7:checked ~ .tab7{
  left: 20%;
}
.wrapper nav #p4_7:checked ~ .tab7{
  left: 60%;
}
.wrapper nav #p5_7:checked ~ .tab7{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab8{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_8:checked ~ .tab8{
  left: 0%;
}
.wrapper nav #p2_8:checked ~ .tab8{
  left: 20%;
}
.wrapper nav #p4_8:checked ~ .tab8{
  left: 60%;
}
.wrapper nav #p5_8:checked ~ .tab8{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab9{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_9:checked ~ .tab9{
  left: 0%;
}
.wrapper nav #p2_9:checked ~ .tab9{
  left: 20%;
}
.wrapper nav #p4_9:checked ~ .tab9{
  left: 60%;
}
.wrapper nav #p5_9:checked ~ .tab9{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab10{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_10:checked ~ .tab10{
  left: 0%;
}
.wrapper nav #p2_10:checked ~ .tab10{
  left: 20%;
}
.wrapper nav #p4_10:checked ~ .tab10{
  left: 60%;
}
.wrapper nav #p5_10:checked ~ .tab10{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab11{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_11:checked ~ .tab11{
  left: 0%;
}
.wrapper nav #p2_11:checked ~ .tab11{
  left: 20%;
}
.wrapper nav #p4_11:checked ~ .tab11{
  left: 60%;
}
.wrapper nav #p5_11:checked ~ .tab11{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab12{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_12:checked ~ .tab12{
  left: 0%;
}
.wrapper nav #p2_12:checked ~ .tab12{
  left: 20%;
}
.wrapper nav #p4_12:checked ~ .tab12{
  left: 60%;
}
.wrapper nav #p5_12:checked ~ .tab12{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab13{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_13:checked ~ .tab13{
  left: 0%;
}
.wrapper nav #p2_13:checked ~ .tab13{
  left: 20%;
}
.wrapper nav #p4_13:checked ~ .tab13{
  left: 60%;
}
.wrapper nav #p5_13:checked ~ .tab13{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab14{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_14:checked ~ .tab14{
  left: 0%;
}
.wrapper nav #p2_14:checked ~ .tab14{
  left: 20%;
}
.wrapper nav #p4_14:checked ~ .tab14{
  left: 60%;
}
.wrapper nav #p5_14:checked ~ .tab14{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab15{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_15:checked ~ .tab15{
  left: 0%;
}
.wrapper nav #p2_15:checked ~ .tab15{
  left: 20%;
}
.wrapper nav #p4_15:checked ~ .tab15{
  left: 60%;
}
.wrapper nav #p5_15:checked ~ .tab15{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab15{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_15:checked ~ .tab15{
  left: 0%;
}
.wrapper nav #p2_15:checked ~ .tab15{
  left: 20%;
}
.wrapper nav #p4_15:checked ~ .tab15{
  left: 60%;
}
.wrapper nav #p5_15:checked ~ .tab15{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab16{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_16:checked ~ .tab16{
  left: 0%;
}
.wrapper nav #p2_16:checked ~ .tab16{
  left: 20%;
}
.wrapper nav #p4_16:checked ~ .tab16{
  left: 60%;
}
.wrapper nav #p5_16:checked ~ .tab16{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab17{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_17:checked ~ .tab17{
  left: 0%;
}
.wrapper nav #p2_17:checked ~ .tab17{
  left: 20%;
}
.wrapper nav #p4_17:checked ~ .tab17{
  left: 60%;
}
.wrapper nav #p5_17:checked ~ .tab17{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab18{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_18:checked ~ .tab18{
  left: 0%;
}
.wrapper nav #p2_18:checked ~ .tab18{
  left: 20%;
}
.wrapper nav #p4_18:checked ~ .tab18{
  left: 60%;
}
.wrapper nav #p5_18:checked ~ .tab18{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab19{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_19:checked ~ .tab19{
  left: 0%;
}
.wrapper nav #p2_19:checked ~ .tab19{
  left: 20%;
}
.wrapper nav #p4_19:checked ~ .tab19{
  left: 60%;
}
.wrapper nav #p5_19:checked ~ .tab19{
  left: 80%;
}

.wrapper nav input{
  display: none;
}


.wrapper nav .tab20{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #p1_20:checked ~ .tab20{
  left: 0%;
}
.wrapper nav #p2_20:checked ~ .tab20{
  left: 20%;
}
.wrapper nav #p4_20:checked ~ .tab20{
  left: 60%;
}
.wrapper nav #p5_20:checked ~ .tab20{
  left: 80%;
}

.wrapper nav input{
  display: none;
}
