/* Boîte Popup */

      /*....Arrière plan de la boxe....*/
      .modal {
        display: none; /* Masqué par défaut */
        position: fixed; /* Rester dans la place */
        z-index: 8888; /* S'asseoir en haut */
        left: 0;
        top: 0;
        width: 100%; /* Largeur complète */
        height: 100%; /* Hauteur complète */
        overflow: auto; /* Activer défilement si nécessaire */
        background-color: rgb(0,0,0); /* Couleur de plan */
        background-color: rgba(0,0,0,0.4); /*  w/ opacité noir*/
        }

        /*....La boite....*/
        .modal-content {
        background: linear-gradient(-90deg, #f5ce62, #e85a19);
        margin: 25vh auto; /* 15% d'en haut et centré */
        padding: 20px;
        width: 60%; /* Pouvait être plus ou moins, dépend de la taille de l'écran  */
        border-radius: 20px;
        border-bottom: 2px solid transparent;
        }
        
        @media (min-width: 1366px) {
        .modal-content {
        background-color: #fefefe;
        margin: 10vh auto; /* 15% d'en haut et centré */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Pouvait être plus ou moins, dépend de la taille de l'écran */
        }
        }
        
        h2, p {
        margin: 0 0 20px;
        font-weight: 400;
        color: #666;
        }
        span{
        color: #666;
        display:block;
        padding:0 0 5px;
        }

        form {
        padding: 30px;
        margin: 30px;
        border-bottom: 2px solid transparent;
        }
        
        input, textarea {
        width: calc(100% - 18px);
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid #1c87c9;
        outline: none;
        }
        .pop-form input {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border: none;
        background: linear-gradient(-90deg, #0162c8, #55e7fc);
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        border-radius: 10px;
        }
        input:hover {
        background: #2371a0;
        }    
        /* Le bouton Fermer */
        .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }
        .close:hover,
        .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        }
        input.input {
        background:none;
        border-top:none;
        outline: none;
        border-right:none;
        border-left:none;
        border-bottom:#02274a 1px solid;
        padding:0 0 3px 0;
        font-size:16px;
        cursor:pointer;
        }
        input.input:hover {
        border-bottom:#a99567 1px solid;
        color:#a99567;
        }


        @media (max-width: 800px){

        .modal-content {
        width: 80%; /* Pouvait être plus ou moins, dépend de la taille de l'écran  */

        }

    }